In [11]:
from model import HybridModel

In [12]:
"""age=20 
platform=['Switch'] 
players=1 
major_genre=['Tactics'] 
tag=[0,0,0,0,0,0,2] 
games=[15936, 13124]"""

In [21]:
# input example
age = 20             # 9 10 13 17 20
platform = ["PC", "PlayStation 4"]
players = 1
major_genre = ["Tactics", "Puzzle"]
tag = [1, 0, 0, 0, 0, 1, 1]   # graphcis  sound  creativity  freedom  hitting  completion  difficulty 
games = ["Zombie Driver: Immortal Edition", "Zumba Fitness Rush"]

In [22]:
model = HybridModel(age, platform, players, major_genre, tag, games)

In [23]:
a = model.predict()
a

,id,genre,graphics,sound,creativity,freedom,hitting,completion,difficulty
44,45,"Strategy, General",1,1,0,0,0,1,1
50,51,"Strategy, Real-Time, Historic, General, Historic",1,1,1,1,0,1,2
113,114,"Strategy, Real-Time, Command",1,1,1,0,0,0,1
142,143,"Strategy, General, General",1,0,1,1,0,0,1
143,144,"Strategy, Real-Time, General, Historic, Fantas...",0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
15793,15794,"Strategy, General, General, Management, Govern...",1,1,1,1,0,1,1
15821,15822,"Puzzle, Action",1,1,1,1,0,1,1
15847,15848,"Strategy, Tycoon, Management, Tycoon, Business...",0,0,0,0,0,0,1
15848,15849,"Strategy, Tycoon, Management, Tycoon, Business...",1,1,1,1,0,1,1
15862,15863,"Miscellaneous, Puzzle, Action, Puzzle, Action",1,1,1,0,0,1,1

In [16]:
a = a.reset_index(drop=True)
a

,id,genre,graphics,sound,creativity,freedom,hitting,completion,difficulty
0,651,"Action, Shooter, First-Person, Tactical",1,1,1,0,0,0,2
1,5003,"Action, Shooter, Third-Person, Tactical",0,0,0,0,0,0,1
2,9482,"General, Action, Shooter, First-Person, Tactical",1,1,1,1,1,1,1

In [19]:
b = a.loc[0]

In [20]:
import pandas as pd
c = pd.concat([a,b])
c

,id,genre,graphics,sound,creativity,freedom,hitting,completion,difficulty,0
0,651.0,"Action, Shooter, First-Person, Tactical",1.0,1.0,1.0,0.0,0.0,0.0,2.0,NaN
1,5003.0,"Action, Shooter, Third-Person, Tactical",0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
2,9482.0,"General, Action, Shooter, First-Person, Tactical",1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,651
genre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Action, Shooter, First-Person, Tactical"
graphics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
sound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
creativity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
freedom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
hitting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
completion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
difficulty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [17]:
for i in range(len(a)):
    print(a.loc[i])

id                                                651
genre         Action, Shooter, First-Person, Tactical
graphics                                            1
sound                                               1
creativity                                          1
freedom                                             0
hitting                                             0
completion                                          0
difficulty                                          2
Name: 0, dtype: object
id                                               5003
genre         Action, Shooter, Third-Person, Tactical
graphics                                            0
sound                                               0
creativity                                          0
freedom                                             0
hitting                                             0
completion                                          0
difficulty                                          1
Name: 1, dtype: object
id                                                        9482
genre         General, Action, Shooter, First-Person, Tactical
graphics                                                     1
sound                                                        1
creativity                                                   1
freedom                                                      1
hitting                                                      1
completion                                                   1
difficulty                                                   1
Name: 2, dtype: object

In [6]:
a = model.predict()
a

,id,genre,graphics,sound,creativity,freedom,hitting,completion,difficulty
650,651,"Action, Shooter, First-Person, Tactical",1,1,1,0,0,0,2
5002,5003,"Action, Shooter, Third-Person, Tactical",0,0,0,0,0,0,1
9481,9482,"General, Action, Shooter, First-Person, Tactical",1,1,1,1,1,1,1

In [6]:
a.head(10)

,id,genre,graphics,sound,creativity,freedom,hitting,completion,difficulty
0,651,"Action, Shooter, First-Person, Tactical",1,1,1,0,0,0,2
1,5003,"Action, Shooter, Third-Person, Tactical",0,0,0,0,0,0,1
2,9482,"General, Action, Shooter, First-Person, Tactical",1,1,1,1,1,1,1
3,13124,"Strategy, Turn-Based, Tactics",0,0,0,0,0,0,2