In [2]:
import glob
from google.cloud import bigquery
from google.oauth2 import service_account

# 서비스 계정 키 JSON 파일 경로
key_path = glob.glob("./config/*.json")[0]

# Credentials 객체 생성
credentials = service_account.Credentials.from_service_account_file(key_path)

In [3]:
# GCP 클라이언트 객체 생성
client = bigquery.Client(credentials = credentials, 
                         project = credentials.project_id)

In [10]:
# #job_config
# job_config = bigquery.LoadJobConfig(
#     write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE,
#     source_format = bigquery.SourceFormat.CSV,
#     skip_leading_rows=1,
#     autodetect=True
# )

In [11]:
# job_config.allow_quoted_newlines = True
# # 소스 등록하기
# file_path = "./game_plus_total.csv"
# with open(file_path, 'rb') as source_file:
#     job = client.load_table_from_file(source_file, 'midyear-diorama-391902.test_game_total.game', job_config=job_config)

# job.result()

LoadJob<project=midyear-diorama-391902, location=asia-northeast3, id=d447ffa8-751c-4055-9838-a9e03c8596ea>

In [ ]:
# table = client.get_table('midyear-diorama-391902.test_game_total.game_total_sample')
# table.table_id

In [ ]:
# table = client.get_table("midyear-diorama-391902.test_game_total.game_total_sample")

In [ ]:
# table

In [12]:
# 데이터 조회 쿼리
sql = f"""
SELECT
  *
FROM
  test_game_total.game
"""

# 데이터 조회 쿼리 실행 결과
query_job = client.query(sql)

# 데이터프레임 변환
df = query_job.to_dataframe()

In [15]:
df[df['id']==15953]

,id,name,platform,rating,num_of_player_idx,img_url,major_genre
4326,15953,FIFA ONLINE 4,PC,13+,5,https://i.namu.wiki/i/U4KTytKPkxXv3v6IMCIfZU5w...,Sports