In [13]:
import pandas as pd
import os

folder_path = 'data/'  # 데이터가 저장된 폴더 경로

# 폴더 내의 모든 파일 목록 가져오기
file_list = os.listdir(folder_path)

# CSV 파일만 선택
csv_files = [file for file in file_list if file.endswith('.csv')]

# 빈 데이터프레임 생성
combined_df = pd.DataFrame()

# CSV 파일 불러와서 데이터프레임 합치기
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# 합쳐진 데이터프레임 출력
print(combined_df)

          user_name                                        game
0        AngryRoach                 Ultra Kaiju Monster Rancher
1        AngryRoach                                   Persona 5
2        AngryRoach                              Stardew Valley
3        AngryRoach           Hyperdimension Neptunia Re;Birth1
4        AngryRoach  The Legend of Heroes: Trails of Cold Steel
...             ...                                         ...
30857  Stinky_Winky                             Forza Horizon 4
30858  Stinky_Winky                   Call of Duty: Black Ops 4
30859  Stinky_Winky                   Shadow of the Tomb Raider
30860  Stinky_Winky                 Call of Duty: Black Ops III
30861  Stinky_Winky                              Need for Speed

[30862 rows x 2 columns]

In [14]:
# 중복 행 제거
combined_df = combined_df.drop_duplicates(['user_name', 'game'])

# 인덱스 재정렬
combined_df = combined_df.reset_index(drop=True)

In [15]:
combined_df

             user_name                                        game
0           AngryRoach                 Ultra Kaiju Monster Rancher
1           AngryRoach                                   Persona 5
2           AngryRoach                              Stardew Valley
3           AngryRoach           Hyperdimension Neptunia Re;Birth1
4           AngryRoach  The Legend of Heroes: Trails of Cold Steel
...                ...                                         ...
25952  GuntherUltrabol                                   ASTRONEER
25953  GuntherUltrabol                            Elite: Dangerous
25954  GuntherUltrabol                                   Folk Tale
25955  GuntherUltrabol                                 To the Moon
25956  GuntherUltrabol                           World of Warships

[25957 rows x 2 columns]

In [16]:
combined_df.to_csv('2015_user_log.csv', index=False)